body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgba(0,0,0,0.7);
  border: none ;
}

nav {
  display: flex;
  font-size: 1.5rem;
  gap: 40px;
  color: white;
}

.nav-text {
  border-bottom: solid white 1px;
}

